
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar</title>
</head>
<body>
    <div>
        <form action="/clientepessoajuridica/store" method="post">
            <div>
                <label for="campo-cnpj">CPNJ</label> <br />
                <input type="text" id="campo-cnpj" name="cnpj" />
            </div>
            <div>
                <label for="campo-razao-social">Razão Social</label> <br />
                <input type="text" id="campo-razao-social" name="razaoSocial" />
            </div>
            <div>
                <label for="campo-inscricao-estadual">Inscrição Estadual</label> <br />
                <input type="text" id="campo-inscricao-estadual" name="inscricaoEstadual" />
            </div>
            <div>
                <button type="submit">Salvar</button>
            </div>
        </form>
    </div>
</body>
</html>
