
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Lista de Enderecos</h1>
    <div>
        <form action="/endereco/index" method="get">
            <label for="campo-pesquisa">Pesquisar</label>
            <input id="campo-pesquisa" name="busca" type="text" />
        </form>
    </div>
    <a href="/enderecos/cadastrar">Cadastrar novo Endereco</a>
</body>
</html>
