
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/PessoaFisicaStyle.css" rel="stylesheet" />
    <title>Cadastrar</title>
</head>
<body>
    <div>
        <form action="/clientepessoafisica/store" method="post">

            <div>
                <label for="campo-nome">Nome</label>
                <input type="text" minlenght="3" name="nome" id="campo-nome" />
            </div>

            <div>
                <label for="campo=cpf">CPF</label>
                <input type="text" minlength="14" maxlength="14" name="cpf" id="campo-cpf" />
            </div>

            <div>
                <label for="campo-rg">RG</label>
                <input type="text" minlength="12" maxlength="12" name="rg" id="campo-rg" />
            </div>

            <div>
                <label for="campo-data-nascimento">Data nascimento</label>
                <input type="date" name="data-nascimento" id="campo-rg" />
            </div>

            <div>
                <label for="campo-sexo">Sexo</label>
                <input type="radio" name="sexo" id="campo-sexo" value="masculino" />Masculino
                <input type="radio" name="sexo" id="campo-sexo" value="feminino" />Feminino
                <input type="radio" name="sexo" id="campo-sexo" value="" />Outro (ou não prefere informa-lo)
            </div>
            <div>
                <button type="submit">Salvar</button>
            </div>
        </form>
    </div>
</body>
</html>